
  <mat-card-title>{{title}}</mat-card-title>
  <div fxLayout="row">
  <div>
  <mat-card class="card-style">
    <mat-card-title>Add</mat-card-title>
    <form (ngSubmit)="onSubmit()" [formGroup]="ccForm">
        <label for="name">Name</label>
        <input type="text" class="form-style form-control" id="name" required
               [(ngModel)]="creditCard.customerName" name="name" formControlName="name">
        <br>
        <label for="creditCardNumber">Credit Card Number</label>
        <input type="text" class="form-style form-control"  (keypress)="validateCardNumber($event)"  id="creditCardNumber" required minlength=13 maxlength=19
               [(ngModel)]="creditCard.creditCardNumber" name="creditCardNumber" formControlName="creditCardNumber">
               <div> <mat-error *ngIf="ccForm.controls.creditCardNumber?.errors?.minlength">
                Credit card number must be between 13 to 19 digits
              </mat-error></div>
            <br>

        <label for="creditCardLimit">Limit</label>
        <input type="number" class="form-style form-control" id="creditCardLimit" required
               [(ngModel)]="creditCard.creditCardLimit" name="creditCardLimit" formControlName="creditCardLimit">
               <br>
      <button type="submit" class="btn btn-success" [disabled]="!ccForm.valid" (click)="addNewCreditCard()">Add</button>
      <button type="button" class="btn-spacing btn btn-default" (click)="ccForm.reset()">Clear</button>
    </form>
  </mat-card>
  </div>
<br/>

<div *ngIf="showTable; else elseBlock">
  <mat-card class="table-card-style">
    <mat-card-title>Existing Cards</mat-card-title>
    <div fxFlex class="mat-margin-8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let creditCard" class="card-mat-column">{{creditCard.customerName}}</td>
        </ng-container>

        <ng-container matColumnDef="Card Number">
          <th mat-header-cell *matHeaderCellDef>Card Number</th>
          <td mat-cell *matCellDef="let creditCard" class="card-mat-column">{{creditCard.creditCardNumber | creditcard}}</td>
        </ng-container>

        <ng-container matColumnDef="Balance">
          <th mat-header-cell *matHeaderCellDef>Balance</th>
          <td mat-cell *matCellDef="let creditCard" class="card-mat-column" [style.color]=" creditCard.balance < 0? 'red': 'black' ">{{creditCard.balance | currency:'GBP'}}</td>
        </ng-container>

        <ng-container matColumnDef="Limit">
          <th mat-header-cell *matHeaderCellDef>Limit</th>
          <td mat-cell *matCellDef="let creditCard" class="card-mat-column">{{creditCard.creditCardLimit | currency: 'GBP'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>
<ng-template #elseBlock>There are no credit cards, please add one.</ng-template>
  </div>









